body{
    font-size: 1em;    
}
p{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: darkcyan;
}
h2{
    color: darkgoldenrod;
}
h3{
    color: darkgreen;
}
aside{
    background-color: lightblue;
}
footer{
    background-color: black;
}
section{
    background-color: cadetblue;
}
footer p{
    color: white;
}
a:hover{
 color: red;
}
a:active{
    color: aqua;
}
