/* *{
    margin: 0;
    padding: 0;
}
*/
body {
    background-color: #f4f4f4;
    color: #555555;
    font:bold 20px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
} 
.container{
    width: 80%;
    margin: auto;
}  
.box-1 {
    background-color:#333;
    color: #fff;
    margin: 0px;
    border: 5px solid #ff0000;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin-top: 20px 0px;
}
