
body {
    background-color: #f4f4f4;
    color: #555555;
    font:bold 20px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
} 
.container{
    width: 80%;
    margin: auto;
}  
.box-1 {
    background-color:#333;
    color: #fff;
    margin: 0px;
    
}
