/* *{
    margin: 0;
    padding: 0;
}
*/
body {
    background-color: #f4f4f4;
    color: #555555;
    font:bold 20px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
} 
a{
    text-decoration: none;
    color: #000;

}
a:hover{
    color: #ff0000;
}
a:active{
    color: #00ff00;
}
a:visited{
    color: #0000ff; 
}
.container{
    width: 80%;
    margin: auto;
}  
.box-1 {
    background-color:#333;
    color: #fff;
    margin: 0px;
    border: 5px solid #ff0000;
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin-top: 20px 0px;
}
.box-1 h1{
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.6em;
    word-spacing: 1em; 

}
.box-2 {
    border: 3px dotted #ccc;
    padding: 20px;
    margin: 20px 0px;
}
.categories {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;

}
.categories ul {
    padding: 0;
    list-style: none;
}
.categories li {
    padding-bottom: 6px;
    border-bottom: solid 2px #666; /* Made it solid, thicker, and lighter color for better visibility */
    background-image: url('../images/check.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px 20px; /* Adjust these values to change the size */
    padding-left: 30px; /* Add padding to make room for the image */
}