body{
    background-color: #f4f4f4;
    color: #555;
    font:bold 20px Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    font-size: 16px;
    margin: 0;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
#main-header{
    background-color: coral;
    color: #fff;
    height: 50px;
    
}
#navbar{
    background-color: #333;
    color: #fff;
    margin-top: 0;
}
#navbar ul{
    padding: 0;
    list-style: none;
}
#navbar ul li{
    display: inline;

}
#navbar li{
    display: inline;
}
#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
} 
#showcase{
    background: url('../images/show.jpeg') no-repeat center /cover;
    min-height: 200px;
    margin-bottom: 30px;
    text-align: center;
    color: wheat;
}
#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}
#main{
    float: left;
    width: 70%;
    padding: 0 30px;
    box-sizing: border-box;
    
}
#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding:10px;
    box-sizing: border-box;
    
}
#main-footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}
@media(max-width:600px) {
    #main{
        width: 100%;
        float:none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}